@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: burlywood;
}

img {
  width: 100%;
  border-radius: 10px;

}
.pro {
  max-width: 600px;
  background-color: white;
  padding: 2rem;
  margin: 10px auto;
  border-radius: 20px;
  
}

h1 {
  font-size: 2rem;
  font-family: "Young Serif", serif;
  font-weight: normal;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: normal;
  color: brown;
}

hr {
  background-color: #e0e0e0;
  border: none;
  height: 0.5px;
}
.bio {
  color: #8d8d82;
  font-size: 14px;
}

.pinkcontainer {
  background-color: #fdf5f9;
  padding: 0px 0px 10px 20px ;
  border-radius: 10px;
  margin-top: 30px;
}

.pinkcontainer .title-time {
  color: #860742;
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 20px;
}

ul {
  list-style-position: outside;
  line-height: 2;
  margin-top: -5px;
}

ol {
  line-height: 2;
  margin-top: -5px;
}

ol li::marker {
  font-weight: bold;
}

li {
  padding-left: 10px;
  font-size: 14px;
  color: #8d8d82;
  margin-bottom: 5px;
}

li span {
  font-weight: 650;
  font-size: 15px;
  color: #84726a;
}

li::marker {
  color: brown;
}

.table {
  width: 100%;

}

.left {
  color: #84726a;
  font-size: 15px;
  padding-top: 15px;
}

.right {
  color: brown;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}

tr td{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
} 
.fooleft, .fooright {
  border: none;
}